.account {
  height: calc(100vh - 90px);
}

.account .wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .wrapper .col {
  flex: 1;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account .wrapper .col .account_header {
  text-transform: uppercase;
  padding: 10px 0;
}

.account .wrapper .col .account_form {
  background-color: var(--content-bg);
  width: 100%;
  height: 100%;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
