@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  --primary: #081f2c;
  --secondary: grey;
  --background: #faf5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background-color: var(--background);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.default {
  padding: 0 5%;
}

.text_regular {
  font-size: 18px;
  color: inherit;
}

.header {
  font-size: 34px;
  color: inherit;
}
